aiofiles==0.6.0
aiohttp==3.8.3
aiohttp-socks==0.7.1
aiosignal==1.3.1
apiai==1.2.3
arrow==1.2.1
async-timeout==4.0.2
attrs==22.2.0
Authlib==1.2.0
beautifulsoup4==4.11.1
black==22.12.0
bleach==5.0.1
cachetools==5.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
chess==1.9.4
click==8.0.3
colorama==0.4.6
commonmark==0.9.1
coverage==7.0.3
crayons==0.4.0
cryptography==39.0.0
distro==1.8.0
docutils==0.19
dropbox==11.36.0
exceptiongroup==1.1.0
flake8==6.0.0
Flask==2.2.2
frozenlist==1.3.3
future==0.18.2
gitlint==0.18.0
gitlint-core==0.18.0
google-api-core==2.11.0
google-api-python-client==2.70.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
googleapis-common-protos==1.57.0
h11==0.12.0
h2==4.1.0
hpack==4.0.0
html2text==2020.1.16
httplib2==0.21.0
hyperframe==6.0.1
ics==0.7.2
idna==3.4
importlib-metadata==6.0.0
iniconfig==1.1.1
isodate==0.6.1
isort==5.11.4
itsdangerous==2.1.2
jaraco.classes==3.2.3
Jinja2==3.1.2
jsonschema==4.17.3
keyring==23.13.1
Logbook==1.5.3
lxml==4.9.2
MarkupSafe==2.1.1
matrix-nio==0.20.1
mccabe==0.7.0
mock==5.0.0
more-itertools==9.0.0
multidict==6.0.4
mypy==0.910
mypy-extensions==0.4.3
numpy==1.24.1
oauthlib==3.2.2
packaging==22.0
pathspec==0.10.3
pkginfo==1.9.3
platformdirs==2.6.2
pluggy==1.0.0
ply==3.11
prompt-toolkit==3.0.36
protobuf==4.21.12
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.16.0
pyflakes==3.0.1
Pygments==2.14.0
pyparsing==3.0.9
pyrsistent==0.19.3
pytest==7.2.0
pytest-cov==4.0.0
python-dateutil==2.8.2
python-socks==2.1.1
pytz==2022.7
readme-renderer==37.3
requests==2.28.1
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==13.0.0
rsa==4.9
sh==1.14.2
simple-salesforce==1.12.2
six==1.16.0
soupsieve==2.3.2.post1
stone==3.3.1
TatSu==5.8.3
toml==0.10.2
tomli==2.0.1
tweepy==4.12.1
twine==4.0.2
types-python-dateutil==2.8.19.5
types-pytz==2022.7.0.0
types-requests==2.28.11.7
types-urllib3==1.26.25.4
typing_extensions==4.4.0
unpaddedbase64==2.1.0
uritemplate==4.1.1
urllib3==1.26.13
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
wit==6.0.1
yarl==1.8.2
zeep==4.2.1
zipp==3.11.0
-e git+https://github.com/zulip/zulint@14e3974001bf8442a6a3486125865660f1f2eb68#egg=zulint
-e git+https://github.com/alexrosenblatt/calendar-bot.git@08b3a4394d485c1cc3847e1d4a18bb8f846a10a0#egg=zulip&subdirectory=zulip
-e git+https://github.com/alexrosenblatt/calendar-bot.git@08b3a4394d485c1cc3847e1d4a18bb8f846a10a0#egg=zulip_bots&subdirectory=zulip_bots
-e git+https://github.com/alexrosenblatt/calendar-bot.git@08b3a4394d485c1cc3847e1d4a18bb8f846a10a0#egg=zulip_botserver&subdirectory=zulip_botserver